.container {
  display: flex;
  flex-direction: row;
}

.box {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 24px;
  }